[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
ipykernel = "*"
notebook = "*"
jupyterlab = "*"
openai = "*"
python-dotenv = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
minsearch = "*"
langchain = "*"
faiss-cpu = "*"
langchain-core = "*"
langchain-community = "*"
langchain-openai = "*"
yfinance = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.12"
